<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./asset/select.css">
    <title>Document</title>
   
</head>

<body>

    <div class="class-container">
        <div class="class-button" onclick="showClass('striker')">스트라이커</div>
        <div class="class-button" onclick="showClass('ranger')">레인저</div>
        <div class="class-button" onclick="showClass('defender')">디펜더</div>
        <div class="class-button" onclick="showClass('sniper')">스나이퍼</div>
        <div class="class-button" onclick="showClass('supporter')">서포터</div>
    </div>

    <table  class="character-table" id="striker">
        <tbody>
            <tr>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="charaNum" value="1">
                        <input type="hidden" name="charaName" value="유미나">
                        <input type="hidden" name="nomalAttack" value="1.36">
                        <input type="hidden" name="passiveskill" value="3">
                        <input type="hidden" name="activeskill" value="18">
                        <input type="hidden" name="ultSkill" value="52">
                        <button type="submit" id="aw1"><img src="./asset/YuMiNa.webp" alt="유미나"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="2">
                        <input type="hidden" name="CharaName" value="유나">
                        <input type="hidden" name="NomalAttack" value="1.54">
                        <input type="hidden" name="Passiveskill" value="0">
                        <input type="hidden" name="Activeskill" value="20">
                        <input type="hidden" name="UltSkill" value="52">
                        <button type="submit" id="aw2"><img src="./asset/YuNa.webp" alt="유나"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="3">
                        <input type="hidden" name="CharaName" value="주시윤">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="4">
                        <input type="hidden" name="Activeskill" value="26">
                        <input type="hidden" name="UltSkill" value="54">
                        <button type="submit" id="aw3"><img src="./asset/JooShiYoon.webp"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="4">
                        <input type="hidden" name="CharaName" value="호라이즌">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="4">
                        <input type="hidden" name="Activeskill" value="34">
                        <input type="hidden" name="UltSkill" value="62">
                        <button type="submit" id="aw4"><img src="./asset/Horizon.webp"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="5">
                        <input type="hidden" name="CharaName" value="시그마">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="0">
                        <input type="hidden" name="Activeskill" value="24">
                        <input type="hidden" name="UltSkill" value="50">
                        <button type="submit" id="aw5"><img src="./asset/Sigma.webp"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="6">
                        <input type="hidden" name="CharaName" value="치후유">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="0">
                        <input type="hidden" name="Activeskill" value="23">
                        <input type="hidden" name="UltSkill" value="60">
                        <button type="submit" id="aw6"><img src="./asset/ChiFuyu.webp"></button>
                    </form>
                </td>

                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="7">
                        <input type="hidden" name="CharaName" value="이브">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="0">
                        <input type="hidden" name="Activeskill" value="20">
                        <input type="hidden" name="UltSkill" value="60">
                        <button id="aw7"><img src="./asset/Eve.webp"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="98">
                        <input type="hidden" name="CharaName" value="쉐퍼드&러처">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="2">
                        <input type="hidden" name="Activeskill" value="10">
                        <input type="hidden" name="UltSkill" value="28">
                        <button id="aw8"><img src="./asset/Shperd&Lurcher.webp"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="9">
                        <input type="hidden" name="CharaName" value="카렌">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="0">
                        <input type="hidden" name="Activeskill" value="23">
                        <input type="hidden" name="UltSkill" value="45">
                        <button id="aw9"><img src="./asset/Kallen.webp"></button>
                    </form>
                </td>
                
            </tr>
        </tbody>
    </table>

    <table class="character-table hidden" id="ranger">
        <tbody>
            <tr>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="10">
                        <input type="hidden" name="CharaName" value="이수연">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="0">
                        <input type="hidden" name="Activeskill" value="23">
                        <input type="hidden" name="UltSkill" value="54">
                        <button type="submit"><img src="./asset/LEESOOYEON.webp" alt="이수연"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="11">
                        <input type="hidden" name="CharaName" value="서윤">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="3">
                        <input type="hidden" name="Activeskill" value="21">
                        <input type="hidden" name="UltSkill" value="52">
                        <button type="submit" id="aw11"><img src="./asset/SEOYOON.webp" alt="서윤"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="12">
                        <input type="hidden" name="CharaName" value="미니스트라">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="0">
                        <input type="hidden" name="Activeskill" value="24">
                        <input type="hidden" name="UltSkill" value="50">
                        <button type="submit" id="aw12"><img src="./asset/MINISTRA.webp" alt="미니스트라"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="13">
                        <input type="hidden" name="CharaName" value="안토노프">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="0">
                        <input type="hidden" name="Activeskill" value="24">
                        <input type="hidden" name="UltSkill" value="56">
                        <button type="submit" id="aw13"><img src="./asset/ANTONOV.webp" alt="안토노프"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="14">
                        <input type="hidden" name="CharaName" value="레지나">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="0">
                        <input type="hidden" name="Activeskill" value="34">
                        <input type="hidden" name="UltSkill" value="68">
                        <button type="submit" id="aw14"><img src="./asset/REGINA.webp" alt="레지나"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="99">
                        <input type="hidden" name="CharaName" value="카린">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="16">
                        <input type="hidden" name="Activeskill" value="14">
                        <input type="hidden" name="UltSkill" value="23">
                        <button type="submit" id="aw15"><img src="./asset/KARIN.webp" alt="카린"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="97">
                        <input type="hidden" name="CharaName" value="앨리스">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="0">
                        <input type="hidden" name="Activeskill" value="5">
                        <input type="hidden" name="UltSkill" value="14">
                        <button type="submit" id="aw16"><img src="./asset/ALICE.webp" alt="앨리스"></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="15">
                        <input type="hidden" name="CharaName" value="마브카">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="0">
                        <input type="hidden" name="Activeskill" value="25">
                        <input type="hidden" name="UltSkill" value="60">
                        <button type="submit" id="aw17"><img src="./asset/MAVKA.webp" alt="마브카"></button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="character-table hidden" id="defender">
        <tbody>
            <tr>
                <td>
                    <form method="post" action="/ChangeEq">
                        <input type="hidden" name="CharaNum" value="16">
                        <input type="hidden" name="CharaName" value="힐데">
                        <input type="hidden" name="NomalAttack" value="1">
                        <input type="hidden" name="Passiveskill" value="0">
                        <input type="hidden" name="Activeskill" value="28">
                        <input type="hidden" name="UltSkill" value="48">
                        <button id="aw18"><img src="./asset/HILDE.webp" alt=""></button>
                </td>
                <td>
                    <button id="aw19">공익</button>공익
                </td>
                <td>
                    <button id="aw20">흡흡허</button>흡흡허
                </td>
                <td>
                    <button id="aw21">이볼브</button>이볼브 원
                </td>
                <td>
                    <button id="aw22">제이시</button>제이시
                </td>
                <td>
                    <button id="aw23">도넛</button>도넛
                </td>
                <td>
                    <button id="aw24">예하</button>예하
                </td>
            </tr>
        </tbody>
    </table>

    <table class="character-table hidden" id="sniper">
        <tbody>
            <tr>
                <td>
                    <button id="aw25"></button>빵ㅋㅋㅋ
                </td>
                <td>
                    <button id="aw26"></button>씨발이
                </td>
                <td>
                    <button id="aw27"></button>자기가 큐리안이라고 생각 하는 사람
                </td>
                <td>
                    <button id="aw28"></button>마왕님
                </td>
                <td>
                    <button id="aw29"></button>몰?루레드
                </td>

            </tr>
        </tbody>
    </table>


    <table class="character-table hidden" id="supporter">
        <tbody>
            <tr>
                <td><button id="aw30"></button>혐지수</td>
                <td><button id="aw31"></button>활주로</td>
                <td><button id="aw32"></button>침식체</td>
                <td><button id="aw33"></button>각중사</td>
            </tr>
        </tbody>
    </table>


    <script>
        function showClass(className) {
            const classes = ['striker', 'ranger', 'defender', 'sniper', 'supporter'];
            classes.forEach(c => {
                document.getElementById(c).classList.add('hidden');
            });
            document.getElementById(className).classList.remove('hidden');
        }
    </script>
</body>

</html>