

        body {
            background-color: #000;
            color: #fff;
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th{
            border: 1px solid #fff;
            padding: 10px;
            text-align: left;
           
        }
        tr {
            border: 1px solid #fff;
            padding: 10px;
            text-align: left;
        }
        td {
            
            border: none; /* 테두리 제거 */
        }
        
        button {
            background-color: #fff;
            color: #000;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
        }
        button:hover {
            background-color: #4CAF50;
            color: white;
        }
   